* {
  box-sizing: border-box;
  font-family: "Work Sans";
  font-size: 16px;
}

body {
  background-color: #f2efea;
}

header {
  background-color: #5c6e91;
}

.header {
  text-align: center;
  color: #e8e8e8;
  padding: 15px 0;
  margin-bottom: 15px;
}

.header h1 {
  font-size: 2em;
}

.header-buttons button {
  width: 75%;
  margin: 15px 0;
  border-style: none;
  border: 1.75px solid rgb(133, 133, 133);
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgb(61, 61, 61);
}

.form {
  padding: 0 45px;
}

.hidden {
  display: none;
}

form,
.latest-results,
.historical-results,
.conversion-results,
.timeSeries-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  margin: 20px 0 10px 0;
  font-weight: 500;
  color: #505050;
}

.featureInfo {
  width: 100%;
}

#datefield {
  margin-bottom: 15px;
}

select,
input {
  width: 100%;
  text-align: center;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.latest-results,
.historical-results,
.conversion-results,
.timeSeries-results,
.latest-submit,
.historical-submit,
.conversion-submit,
.timeSeries-submit {
  margin-top: 25px;
}

.latest-submit,
.historical-submit,
.conversion-submit,
.timeSeries-submit {
  font-weight: 500;
}

.historical-error,
.timeSeries-error {
  color: red;
  font-size: 1.5rem;
}

.exchangeInfo h3 {
  font-size: 1rem;
}

.exchangeInfo p {
  font-size: 1rem;
}

.timeSeriesInfo {
  width: 80%;
}

.timeSeriesRates-underline {
  text-decoration: underline;
}

.timeSeriesBox {
  border: 2px solid rgb(131, 131, 131);
  border-radius: 5px;
  width: 80%;
  padding: 5px;
  margin: 15px 0;
}

.hidden {
  display: none;
}

footer {
  margin-top: 55px;
}

@media all and (min-width: 600px) {
  .header h1 {
    font-size: 2.75em;
  }

  label {
    margin-top: 35px;
    font-size: 1.35rem;
  }

  select,
  input {
    width: 550px;
  }

  .header-buttons button {
    width: auto;
    font-size: 1.125rem;
    margin-left: 15px;
  }

  .featureInfo {
    width: 65%;
    font-size: 1.25rem;
  }

  .exchangeInfo h3,
  .exchangeInfo p,
  .timeSeriesInfo h3,
  .timeSeriesInfo p {
    font-size: 1.5rem;
  }

  .timeSeriesBox p {
    font-size: 1.25rem;
  }

  footer {
    margin-top: 75px;
  }
}
