header {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  margin: auto;
}

.results {
  display: flex;
  justify-content: center;
  text-align: center;
}
